__pycache__/
*.py[cod]
.venv/

Aggregator_Server/logs/*.log
Aggregator_Server/received_models/round_*/
Aggregator_Server/saved_global_model_versions/*.pt
Aggregator_Server/saved_global_model_versions/version_history.json
Aggregator_Server/round_state.json

Demo_Outputs/demo_logs/*.txt
Demo_Outputs/test_outputs/round_*/

Hospital_A/logs/*.log
Hospital_A/models/*.pt
Hospital_A/reports/**/*.txt
Hospital_A/reports/**/*.csv
Hospital_A/communication/received_global_models/*.pt
Hospital_A/communication/local_model_updates/*.pt

Hospital_B/logs/*.log
Hospital_B/models/*.pt
Hospital_B/reports/**/*.txt
Hospital_B/reports/**/*.csv
Hospital_B/communication/received_global_models/*.pt
Hospital_B/communication/local_model_updates/*.pt

Hospital_C/logs/*.log
Hospital_C/models/*.pt
Hospital_C/reports/**/*.txt
Hospital_C/reports/**/*.csv
Hospital_C/communication/received_global_models/*.pt
Hospital_C/communication/local_model_updates/*.pt
